@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 100;
}
.navbar-collapse li:active,
.navbar-collapse li:hover {
  font-weight: bold;
  filter: drop-shadow(0px 2px gray);
}
h1 {
  font-size: 3.5rem !important;
  font-weight: 900;
  line-height: 55px;
  letter-spacing: -2px;
}
.img {
  height: 100vh;
}
.section-1 ul {
  list-style: none;
}
.section-1 ul li::before {
  content: " ";
  background: #207d70;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.8rem;
}
.highlight {
  color: #207d70;
}
#contact,
#learn-more {
  background-color: #207d70;
  border-radius: 20px;
  align-items: center;
}

#contact .img-fluid,
#learn-more .img-fluid {
  width: 10%;
  margin: 10px 10px;
}
.section-2 {
  background-color: rgba(168, 226, 218, 0.25);
}
.number .col-2:nth-child(even) {
  height: 2px;
  background-color: #888888;
}
.number .col-2:nth-child(odd) {
  text-align: center;
  padding: 0;
}

.section-3 button {
  display: block;
  text-align: center;
  background-color: white;
  border: 3px solid #207d70;
  border-radius: 20px;
}
.section-3 button a {
  color: #207d70;
  font-weight: 500;
}
.section-3 button a:hover {
  color: #207d70;
  font-weight: bold;
  filter: drop-shadow(0px 1px #207d70);
}
.know img {
  width: 15%;
}
.background {
  background-image: url("./images/Rectangle\ 4.png");
  background-repeat: no-repeat;
}
.details {
  background-image: url("./images/Leaf\ \(1\).png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#two::after,
#three:after {
  content: "+";
}
.details h1 {
  color: #0c4039;
  /* font-size: 5rem !important; */
  padding: 30px;
}
#card {
  border: 1px solid #207d70;
  background-color: #e9f8f6;
}
.card-heading {
  background-color: #207d70;
}
.section-6 .row,
.section-7 .row {
  column-gap: 30px;
}
.section-7 {
  background-image: url("./images/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-7 .col-4 {
  background-color: #e9f8f6;
}
#click-here {
  background-color: #207d70;
  border: 1px solid #207d70;
  border-radius: 30px;
}
.section-8 {
  background-color: #207d70;
}

.section-8 ol {
  list-style: none;

  counter-reset: my-awesome-counter;
}
.section-8 li {
  counter-increment: my-awesome-counter;
  margin: 0.25rem;
}
.section-8 li::before {
  content: counter(my-awesome-counter);
  background: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 3rem;
  color: #207d70;
  font-weight: 900;
  font-size: xx-large;
  text-align: center;
  margin-right: 1rem;
}
.section-9 {
  background-color: #0b3530;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 50% !important;
  }
  #contact,
  #learn-more {
    width: 60% !important;
  }
}
